<ion-header >
    <ion-toolbar color = "secondary" >
      <ion-title>Mon profil</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
  <div *ngIf="user" >

      <div class="profilePicture" text-center>
            <img text-center *ngIf="user.profilePicture; else defaultPP" [src]="user.profilePicture">

            <ng-template #defaultPP>
                <ion-icon name="person" style="font-size : 700%; color:rgb(121, 121, 121)"></ion-icon>
            </ng-template>

            <ion-button ion-button fill="clear" block small (click)="useCamera()"  color="secondary">
                <ion-icon name="camera" color="secondary" [style.font-size] = "'200%'" padding></ion-icon> ajouter/modifier la photo    
              </ion-button>

      </div>
      <h3 *ngIf="user">{{user.userName}}</h3><br>

      <ion-item>
          <ion-label color="primary" position="floating">Description (optionel)</ion-label>
          <ion-textarea [(ngModel)]= "user.description"></ion-textarea>
        </ion-item>


      <form [formGroup]="myForm" novalidate (ngSubmit)="updateUser()">

  <ion-grid no-padding>
    <ion-row no-padding>
        <ion-col col-12 col-md-6 col-lg-6 no-padding>


 <ion-item>
    <ion-label color="primary" position="floating">Nom d'utilisateur</ion-label>
    <ion-input type="text" name="userName" formControlName="userName" [(ngModel)]="user.userName"></ion-input>
  </ion-item>
 <ion-item text-wrap no-lines *ngIf="( myForm.get('userName').hasError('minlength') || myForm.get('userName').hasError('maxlength') ||myForm.get('userName').hasError('pattern') ||myForm.get('userName').hasError('required') ) && myForm.get('userName').touched">
    <div class="error" *ngIf="myForm.get('userName').hasError('required') && myForm.get('userName').touched">
        Merci de renseigner votre nom d'utilisateur
      </div>
      <div class="error" *ngIf="myForm.get('userName').hasError('minlength') && myForm.get('userName').touched">
        Minimum 3 caractères
      </div>
      <div class="error" *ngIf="myForm.get('userName').hasError('maxlength') && myForm.get('userName').touched">
        Maximum 30 caractères
      </div>
      <div class="error" *ngIf="myForm.get('userName').hasError('pattern') && myForm.get('userName').touched">
        Vous ne devez utiliser que des lettres, des chiffres et les symboles "-" et "_".
      </div>
    </ion-item>


    <ion-item>
        <ion-label color="primary" position="floating">Prénom</ion-label>
        <ion-input type="text" name="firstName" formControlName="firstName" [(ngModel)]="user.firstName"></ion-input>
      </ion-item>
     <ion-item text-wrap no-lines *ngIf="( myForm.get('firstName').hasError('minlength') || myForm.get('firstName').hasError('maxlength') ||myForm.get('firstName').hasError('pattern') ||myForm.get('firstName').hasError('required') ) && myForm.get('firstName').touched">
        <div class="error" *ngIf="myForm.get('firstName').hasError('required') && myForm.get('firstName').touched">
            Merci de renseigner votre prénom
          </div>
          <div class="error" *ngIf="myForm.get('firstName').hasError('minlength') && myForm.get('firstName').touched">
            Minimum 3 caractères
          </div>
          <div class="error" *ngIf="myForm.get('firstName').hasError('maxlength') && myForm.get('firstName').touched">
            Maximum 30 caractères
          </div>
          <div class="error" *ngIf="myForm.get('firstName').hasError('pattern') && myForm.get('firstName').touched">
            Vous ne devez utiliser que des lettres
          </div>
        </ion-item>


      </ion-col>
      <ion-col  col-md-6 col-lg-6 no-padding>

 <ion-item>
    <ion-label color="primary" position="floating">Nom</ion-label>
    <ion-input type="text" name="lastName" formControlName="lastName" [(ngModel)]="user.lastName"></ion-input>
  </ion-item>
 <ion-item text-wrap no-lines *ngIf="( myForm.get('lastName').hasError('minlength') || myForm.get('lastName').hasError('maxlength') ||myForm.get('lastName').hasError('pattern') ||myForm.get('lastName').hasError('required') ) && myForm.get('lastName').touched">
    <div class="error" *ngIf="myForm.get('lastName').hasError('required') && myForm.get('lastName').touched">
        Merci de renseigner votre Nom
      </div>
      <div class="error" *ngIf="myForm.get('lastName').hasError('minlength') && myForm.get('lastName').touched">
        Minimum 3 caractères
      </div>
      <div class="error" *ngIf="myForm.get('lastName').hasError('maxlength') && myForm.get('lastName').touched">
        Maximum 30 caractères
      </div>
      <div class="error" *ngIf="myForm.get('lastName').hasError('pattern') && myForm.get('lastName').touched">
        Vous ne devez utiliser que des lettres
      </div>
    </ion-item>


 <ion-item>
    <ion-label color="primary" position="floating">E-mail</ion-label>
    <ion-input type="text" name="e-mail" formControlName="email" [(ngModel)]="user.email" text-lowercase></ion-input>
  </ion-item>
  <ion-item text-wrap no-lines *ngIf="( myForm.get('email').hasError('minlength') || myForm.get('email').hasError('pattern') ||myForm.get('email').hasError('required') ) && myForm.get('email').touched">
      <div class="error" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">
        Merci de renseigner votre adresse e-mail
      </div>
      <div class="error" *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched">
        Adresse e-mail invalide
      </div>
    </ion-item>



</ion-col>
</ion-row>
</ion-grid>
   

  <div text-center> 
    <ion-button  margin text-center type="submit" [disabled]="myForm.invalid" *ngIf="disableButton == false; else spinner">Mettre à jour</ion-button>
    <ng-template #spinner> 
        <ion-spinner></ion-spinner>
    </ng-template>
  </div>
  </form>
  </div>


<app-ios10-spacer></app-ios10-spacer>

</ion-content>
